apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: neural-pulse-pvc-rw
  namespace: gp-engine-mizzou-dcps
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Gi
